header {
    background-color: #006437;
    color: white ;
    padding: 10px;
    
}

header h1 {
    text-align: center;
    color: #d1eee1;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #004d2a;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}

nav a:hover {
    background-color: #006437;
    border-radius: 5px;
}

header img {
width: 100px;
display: block;
margin: auto;


}

