header {
    background: color #006437;
    color: #006437;
    padding: 5px;
}
header h1 {
margin-bottom: 20px;
text-align: center;
border-style: solid;
  border-color: #008000;
  background-color: #006437;
color: #d1eee1;
text-shadow: 2px 2px 4px #000000;
}

